.hidden_label{
  display: none;
}
.my_submit{
  width:100%;
}
.book_show{
  padding:8px;
  margin:4px;
  border-style: solid;
  border-color: #c3eee7;
}
.ms{
  background-color: #95ef93;
  color: white;
}