// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.frontpage_book{
  padding:5px;
  margin:3px;
  border-width: 1px;
  border-style: solid;
  border-color: #f2f7f9
}
.frontpage_book:hover {
  padding:5px;
  margin:3px;
  border-width: 1px;
  border-style: solid;
  border-color: #99ccff
} 
.lab{
  color: #c6c386;
}
