// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.frontpage_book{
  padding:5px;
  margin:3px;
  background-color: #ffffc8;
  border-width: 1px;
  border-style: solid;
  border-color: #f2f7f9;
  border-radius: 15px;
}

.lab{
  color: #c6c386;
}
.description{
  width: 600px;
  overflow-y: scroll;
  max-height: 30px;
}
